.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100vw;
}

body::-webkit-scrollbar {
  display: none;
}

.svh-info {
  background-color: #0f4c81;
  min-width: 100vw;
}

.svh-info div {
  color: white;
  cursor: pointer;
}

.svh-info div:hover {
  color: #cccccc;
}

.svh-info div .info-login {
  text-align: center;
}

section {
  width: 100%;
  height: 100%;
}

section:nth-child(1) {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section:nth-child(2) {
  background-image: url("./images/dan.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.dotstyle {
  position: fixed;
  top: 50%;
  right: 1%;
  z-index: 100;
}

.dotstyle ul {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
}

.dotstyle li {
  position: relative;
  display: block;
  margin: 2px 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: red;
}

.dotstyle li a {
  top: 0;
  left: 0;
  padding: 2px;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  text-indent: -999em;
  cursor: pointer;
  /* make the text accessible to screen readers */
  position: absolute;
}

.dotstyle-fillup li a {
  overflow: hidden;
  background-color: rgba(0, 238, 255, 0.329);
  -webkit-box-shadow: inset 0 0 0 2px white;
          box-shadow: inset 0 0 0 2px white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dotstyle-fillup li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1px #fff;
          box-shadow: 0 0 1px #fff;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.dotstyle-fillup li a:hover,
.dotstyle-fillup li a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.dotstyle-fillup li.current a::after {
  height: 100%;
}

.test {
  text-align: center;
  background-color: #0081a8;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  -webkit-transition: background 300ms ease-out;
  transition: background 300ms ease-out;
}

.test:hover {
  background-color: #52bbdb;
  color: black;
}

.test:active {
  border: none;
}

p + .test {
  background-color: red;
}

@-webkit-keyframes slide-to-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-to-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-to-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-to-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-to-up {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-to-up {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slide-to-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-to-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.svh-col-slide-to-right {
  -webkit-animation: 1.5s ease-out 0s 1 slide-to-right;
          animation: 1.5s ease-out 0s 1 slide-to-right;
}

.svh-col-slide-to-left {
  -webkit-animation: 1.5s ease-out 0s 1 slide-to-left;
          animation: 1.5s ease-out 0s 1 slide-to-left;
}

.svh-col-slide-to-up {
  -webkit-animation: 1.5s ease-out 0s 1 slide-to-up;
          animation: 1.5s ease-out 0s 1 slide-to-up;
}

.svh-col-slide-to-down {
  -webkit-animation: 1.5s ease-out 0s 1 slide-to-down;
          animation: 1.5s ease-out 0s 1 slide-to-down;
}

.ict-web {
  -webkit-animation: 1.5s ease-out 0s 1 slideInUp;
          animation: 1.5s ease-out 0s 1 slideInUp;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  width: 100vw;
  height: auto;
  padding: 5px;
}

.ict-web {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.ict-web-items:nth-child(1) h3 {
  color: #2196f3;
  -webkit-filter: drop-shadow(8px 8px 10px black);
          filter: drop-shadow(8px 8px 10px black);
}

.ict-web-items:nth-child(2) h3 {
  color: #a00005;
  -webkit-filter: drop-shadow(8px 8px 10px black);
          filter: drop-shadow(8px 8px 10px black);
}

.ict-web-items:nth-child(3) h3 {
  color: #4caf50;
  -webkit-filter: drop-shadow(8px 8px 10px black);
          filter: drop-shadow(8px 8px 10px black);
}

.ict-web-items:nth-child(4) h3 {
  color: #f0a540;
  -webkit-filter: drop-shadow(8px 8px 10px black);
          filter: drop-shadow(8px 8px 10px black);
}

.ict-web-items h3 {
  font-family: vazir;
  font-size: 18px;
  padding: 5% 0;
}

.ict-web-items i:hover,
.ict-web-items h3:hover {
  cursor: pointer;
  -webkit-animation: swing 1s normal;
          animation: swing 1s normal;
}

.ict-web-items:nth-child(1) i {
  color: white;
  background-color: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 50%;
  padding: 10%;
  -webkit-filter: drop-shadow(8px 8px 10px black);
          filter: drop-shadow(8px 8px 10px black);
}

.ict-web-items:nth-child(2) i {
  color: white;
  background-color: #a00005;
  border: 1px solid #a00005;
  border-radius: 50%;
  padding: 10%;
  -webkit-filter: drop-shadow(8px 8px 10px black);
          filter: drop-shadow(8px 8px 10px black);
}

.ict-web-items:nth-child(3) i {
  color: white;
  background-color: #4caf50;
  border: 1px solid #4caf50;
  border-radius: 50%;
  padding: 10%;
  -webkit-filter: drop-shadow(8px 8px 10px black);
          filter: drop-shadow(8px 8px 10px black);
}

.ict-web-items:nth-child(4) i {
  color: white;
  background-color: #f0a540;
  border: 1px solid #f0a540;
  border-radius: 50%;
  padding: 10%;
  -webkit-filter: drop-shadow(8px 8px 10px black);
          filter: drop-shadow(8px 8px 10px black);
}

@-webkit-keyframes ro {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ro {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.list-flush {
  display: inline-block;
}

.list-flush i {
  color: #4caf50;
}

.list-flush h6 {
  font-size: 16px;
}

.svh-card:hover {
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  opacity: 0.9;
  -webkit-animation: swing 1000ms normal;
          animation: swing 1000ms normal;
}

.team-img:hover {
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  opacity: 0.9;
  -webkit-animation: swing 1000ms normal;
          animation: swing 1000ms normal;
}

.team-img img {
  -webkit-filter: drop-shadow(4px 4px 8px #bdbdbd);
          filter: drop-shadow(4px 4px 8px #bdbdbd);
}

.team-img h4 {
  -webkit-filter: drop-shadow(4px 4px 8px #bdbdbd);
          filter: drop-shadow(4px 4px 8px #bdbdbd);
}

.team-img h6 {
  -webkit-filter: drop-shadow(4px 4px 8px #bdbdbd);
          filter: drop-shadow(4px 4px 8px #bdbdbd);
}
/*# sourceMappingURL=App.css.map */