$OrangeColor: #f0a540;
$RedColor: #a00005;
$GreenColor: #4caf50;
$BlueColor: #2196f3;
.App {
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
}
//hides scroll bar
body::-webkit-scrollbar {
  display: none;
}
.svh-info {
  background-color: #0f4c81;
  min-width: 100vw;
  div {
    color: white;
    cursor: pointer;

    &:hover {
      color: rgb(204, 204, 204);
    }
    .info-login {
      text-align: center;
    }
  }
}
section {
  width: 100%;
  height: 100%;
}
section:nth-child(1) {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section:nth-child(2) {
  background-image: url("./images/dan.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.dotstyle {
  position: fixed;
  top: 50%;
  right: 1%;
  z-index: 100;
}
.dotstyle ul {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
}

.dotstyle li {
  position: relative;
  display: block;
  margin: 2px 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: red;
}

.dotstyle li a {
  top: 0;
  left: 0;
  padding: 2px;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  text-indent: -999em;
  cursor: pointer; /* make the text accessible to screen readers */
  position: absolute;
}
.dotstyle-fillup li a {
  overflow: hidden;
  background-color: rgba(0, 238, 255, 0.329);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 1);
  transition: 0.3s;
}

.dotstyle-fillup li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 1px #fff;
  transition: height 0.3s;
}

.dotstyle-fillup li a:hover,
.dotstyle-fillup li a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.dotstyle-fillup li.current a::after {
  height: 100%;
}
.test {
  text-align: center;
  background-color: rgb(0, 129, 168);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  transition: background 300ms ease-out;
  &:hover {
    background-color: rgb(82, 187, 219);
    color: black;
  }
  &:active {
    border: none;
  }
}
p + .test {
  background-color: red;
}
@keyframes slide-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-to-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-to-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-to-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.svh-col-slide-to-right {
  animation: 1.5s ease-out 0s 1 slide-to-right;
}
.svh-col-slide-to-left {
  animation: 1.5s ease-out 0s 1 slide-to-left;
}
.svh-col-slide-to-up {
  animation: 1.5s ease-out 0s 1 slide-to-up;
}
.svh-col-slide-to-down {
  animation: 1.5s ease-out 0s 1 slide-to-down;
}
.ict-web {
  animation: 1.5s ease-out 0s 1 slideInUp;
  // background-image: url("./images/code.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;

  width: 100vw;
  height: auto;
  padding: 5%;
}
.ict-web {
  filter: brightness(100%);
}
@mixin iconstyle($color) {
  color: white;

  background-color: $color;
  border: 1px solid $color;
  border-radius: 50%;
  padding: 10%;
  filter: drop-shadow(8px 8px 10px black);
}
.ict-web-items {
  &:nth-child(1) h3 {
    color: $BlueColor;
    filter: drop-shadow(8px 8px 10px black);
  }
  &:nth-child(2) h3 {
    color: $RedColor;
    filter: drop-shadow(8px 8px 10px black);
  }
  &:nth-child(3) h3 {
    color: $GreenColor;
    filter: drop-shadow(8px 8px 10px black);
  }
  &:nth-child(4) h3 {
    color: $OrangeColor;
    filter: drop-shadow(8px 8px 10px black);
  }
  h3 {
    font-family: vazir;
    font-size: 18px;
    padding: 5% 0;
  }
  i:hover,
  h3:hover {
    cursor: pointer;
    animation: swing 1s normal;
  }
  &:nth-child(1) i {
    @include iconstyle($BlueColor);
  }
  &:nth-child(2) i {
    @include iconstyle($RedColor);
  }
  &:nth-child(3) i {
    @include iconstyle($GreenColor);
  }
  &:nth-child(4) i {
    @include iconstyle($OrangeColor);
  }
}

@keyframes ro {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.list-flush {
  display: inline-block;
  i {
    color: $GreenColor;
  }
  h6 {
    font-size: 16px;
  }
}
.svh-card {
  &:hover {
    transition: background 300ms ease-in-out;
    opacity: 0.9;
    animation: swing 1000ms normal;
  }
}
.team-img {
  &:hover{
    transition: background 300ms ease-in-out;
    opacity: 0.9;
    animation: swing 1000ms normal; 
  }
  img {
    // filter: drop-shadow(8px 8px 10px black);
    filter: drop-shadow(4px 4px 8px rgb(92, 92, 92));
  }
  h4 {
    filter: drop-shadow(4px 4px 8px rgb(92, 92, 92));
  }
  h6 {
    filter: drop-shadow(4px 4px 8px rgb(92, 92, 92));
  }
}
